<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
</head>
<body>
	<div id="signinButton">
		<span class="g-signin"
			data-scope="openid"
			data-clientid="982116392282-22on02nrj0bcaq1m7lcd36irjcrjjqnr.apps.googleusercontent.com"
			data-redirecturi="postmessage"
			data-accesstype="offline"
			data-cookiepolicy="single_host_origin"
			data-callback="signInCallback"
			data-approavalprompt="force">
		</span>
	</div>
</body>
</html>