{% extends "menu.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul class='flash-message'>
		{% for message in messages %}
		<li><strong> {{message}} </strong></li>
		{% endfor %}
	</ul>
	{% endif %}
{% endwith %}

<p><a href="{{url_for('showRestaurants', restaurant_id = restaurant.id)}}">See All Restaurants</a></p>

{% for i in items %}

<div>
 <table>
  <tr>
    <td><strong>{{i.name}}</strong></td>
    <td>{{i.price}} </td>
  </tr>
  <tr>
    <td class='item-description'>{{i.description}}</td>
  </tr>
  <tr>
    <td style="width: 90%"></td>
  </tr>
 </table> 

{% endfor %}
{% endblock %}
